.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    /* margin: 0;
    padding: 0; */
    margin: 0;

}



/* header style */
.header {
    background-image: url("/images/developer.png"), url("/images/header_bg.png");
    background-repeat: no-repeat;
    /* background-size: 136px; */
    background-position: top left, right bottom;
    /* margin: 0; */

}

/* shared styles */
.colored-text {
    color: rgb(253, 110, 10);
}

.dark-color1 {
    color: rgb(71, 71, 71);

}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 5px;
    font-weight: 700;
    background: rgb(253, 110, 10);
    padding: 18px 35px 19px 34px;
    cursor: pointer;
    border: none;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    padding-bottom: 30px;
}

.secondary-background {
    background-color: rgb(255, 248, 243);
}

.text-center {
    text-align: center;
}




/* navigation styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 226px 135px;
    padding-top: 40px;
}

.nav-title {
    /* font-family: Open Sans; */
    font-size: 45px;
    font-weight: 900;
    text-align: left;
}



nav ul {
    display: flex;
    gap: 50px;
    align-items: center;

}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    /* padding-left: 30px; */
}

/* banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 38px 30px 200px;
}

.banner-content {
    max-width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    color: rgb(71, 71, 71);
    text-align: left;
    /* margin-bottom: 10px; */
}

.banner-title {
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    text-align: left;
    /* margin-bottom: 0; */
}

.banner-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.profile-image {
    /* background-image: url("/images/header_bg.png"); */
    /* transform: rotate(30deg); */
    width: 584px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 130px auto;
}

/* about styles */
.about {
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
    margin-bottom: 130px;
}

.about-description {
    font-weight: bolder;
}

.about-items {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 50px;
}

/* skills list */
.skills {
    margin-bottom: 200px;
}

.skill-box {
    display: flex;
    gap: 24px;
    /* justify-content: space-between;
    align-items: center;
    margin-top: 30px;
} */
}

.skill-item {
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0 rgb(0, 0, 0, 0.6);
    background: rgb(255, 255, 255);

    /* width: 267px; */
    height: 300px;
    /* text-align: justify; */
    padding: 30px;
    gap: 10px;
}

/* resume section */
.resume {}

.resume-container {
    display: flex;
    gap: 24px;
}

.resume-column {
    margin-top: 70px;
}

.experience {
    margin: 10px;
}

.resume-column-title {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
}


.experience-title {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}

.experience-subtitle {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.experience-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 10px;
}

.experience-btn {
    text-align: center;
    margin-top: 30px;
}


/* footer styles */
footer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: space-between;
    /* padding: 130px 230px; */
}

.footer-column {
    padding: 198px 230px;
    /* align-items: center; */
    width: 50%;
}

footer input {
    display: block;
    /* gap: 20px; */
}

footer input[type="text"],
footer input[type=email] {
    /* display: block; */
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    border: none;
    color: rgb(117, 117, 117);
    margin-bottom: 24px;
}

form {
    /* margin-bottom: 10px; */
}

textarea {
    height: 180px;
    width: 468px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(117, 117, 117);
    margin-bottom: 24px;
    padding-left: 15px;
    padding-top: 20px;
}